<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/icon.png">
</head>
<body>
    <p id="room-id"><%= roomId %></p>
    <p>Hi <span id='player-name'><%= playerName %></span><p>
    <p id="crt-turn"></p>
    <p id="score"></p>
    <div id="grid"></div>
    <button id="ready-btn">Ready [x]</button>
    <button id="start-btn" hidden>New game</button>
    <button id="surrender-btn">Surrender</button>
    <button id="quit-btn">Quit</button>

    <ul id="output">
        <li><em>Welcome to the game!</em></li>
    </ul>
    <p id="feedback"></p>
    <input id="message" placeholder="Enter your message..." />
    <button id="send-btn">Send</button>
</body>
<script src="/js/game.js"></script>
</html>